node-red/flows.json
[{"id":"72483697.98b0a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f025ce9e.f5bd1","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'PM2.5';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["bed6aa2d.59ee88","2be54bca.b5ba24"]]},{"id":"5b3bc519.1b4a1c","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/HPMA115S0/PM2.5","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":190,"y":400,"wires":[["f025ce9e.f5bd1","8eeb770c.23be28"]]},{"id":"a82cb46d.6605e8","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/HPMA115S0/PM10","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":180,"y":460,"wires":[["2355ac85.3a33f4","8eeb770c.23be28"]]},{"id":"2355ac85.3a33f4","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'PM10';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["bed6aa2d.59ee88","9a4a5960.56ece8"]]},{"id":"bed6aa2d.59ee88","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"f4167d07.0ec25","order":1,"width":0,"height":0,"label":"PM Sensor (μg/m³)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0f","#0fc3ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":420,"wires":[[]]},{"id":"103ee785.31e588","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/Temp","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":170,"y":700,"wires":[["18f05b62.b0c6b5","808a9e77.f443a","d72a9544.f5a278"]]},{"id":"18f05b62.b0c6b5","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"2b6edb39.d9b6b4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":700,"wires":[]},{"id":"c22bbf19.98628","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"2b6edb39.d9b6b4","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":1040,"wires":[]},{"id":"cbf04477.749ec8","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/Humi","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":150,"y":1040,"wires":[["c22bbf19.98628","496bf54c.a3c8ac","841d42d6.6ae18"]]},{"id":"8c0e1b70.d0b2b8","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/Pres","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":150,"y":1340,"wires":[["1a267b50.1e1e85","3eb7b95.10fd146","77efb813.6f20b8"]]},{"id":"1a267b50.1e1e85","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"2b6edb39.d9b6b4","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":1340,"wires":[]},{"id":"2be54bca.b5ba24","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"a9df7846.89be88","order":1,"width":0,"height":0,"gtype":"gage","title":"PM2.5","label":"μg/m³","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":360,"wires":[]},{"id":"9a4a5960.56ece8","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"a9df7846.89be88","order":2,"width":0,"height":0,"gtype":"gage","title":"PM10","label":"μg/m³","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":480,"wires":[]},{"id":"a9c26589.a92068","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/IAQ","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1080,"y":780,"wires":[["c40d08fa.057228","f03d92fe.eae48","d7ea0eee.c5ac1"]]},{"id":"c40d08fa.057228","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"a9df7846.89be88","order":3,"width":0,"height":0,"gtype":"gage","title":"IAQ","label":"Index","format":"{{value}}","min":0,"max":"350","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1470,"y":780,"wires":[]},{"id":"c5d16395.d6b4c","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/ZE07/CO","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1070,"y":980,"wires":[["ff410936.a078e8","a63b2cfc.7e31a","a7c935a8.ab1ab8"]]},{"id":"361c369.15faaca","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/T6615/CO2","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1080,"y":540,"wires":[["68d3ead8.3c3e44","296b68a9.fb83d8","e8d28a2.32c2278"]]},{"id":"ff410936.a078e8","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"2903eab7.1535c6","order":1,"width":0,"height":0,"gtype":"gage","title":"CO","label":"PPM","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1470,"y":980,"wires":[]},{"id":"68d3ead8.3c3e44","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"2903eab7.1535c6","order":2,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"PPM","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1470,"y":540,"wires":[]},{"id":"808a9e77.f443a","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'bme680-normal';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":760,"wires":[["a298c90d.cedec8"]]},{"id":"496bf54c.a3c8ac","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'Humidity';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1080,"wires":[["794b2f21.dabcc"]]},{"id":"3eb7b95.10fd146","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'Pressure';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1380,"wires":[["d705df3c.45d18"]]},{"id":"a63b2cfc.7e31a","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'CO';\nout.payload = parseFloat(msg.payload);\nif(out.payload <= 500){\n    return out;\n}else{\n    return;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1020,"wires":[["ab0d14c9.ec7f78"]]},{"id":"296b68a9.fb83d8","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'CO2';\nout.payload = parseFloat(msg.payload);\nif(out.payload <= 20000){\n    return out;\n}else{\n    return;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":580,"wires":[["8e3478ef.a7a158"]]},{"id":"f03d92fe.eae48","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'IAQ';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":820,"wires":[["52a3fa32.33fab4"]]},{"id":"a298c90d.cedec8","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"9dfdcddb.8eb58","order":1,"width":0,"height":0,"label":"Temperature Sensor (ºC)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#109840","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":760,"wires":[[]]},{"id":"d705df3c.45d18","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"9dfdcddb.8eb58","order":3,"width":0,"height":0,"label":"Pressure Sensor (hPa)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":1380,"wires":[[]]},{"id":"52a3fa32.33fab4","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"9dfdcddb.8eb58","order":4,"width":0,"height":0,"label":"IAQ Index Sensor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"25","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#1df748","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1510,"y":820,"wires":[[]]},{"id":"ab0d14c9.ec7f78","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"f4167d07.0ec25","order":2,"width":0,"height":0,"label":"CO Sensor (PPM)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0,4","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1510,"y":1020,"wires":[[]]},{"id":"8e3478ef.a7a158","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"f4167d07.0ec25","order":3,"width":0,"height":0,"label":"CO2 Sensor (PPM)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"400","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#9838b2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1510,"y":580,"wires":[[]]},{"id":"8eeb770c.23be28","type":"function","z":"72483697.98b0a8","name":"","func":"var isPm2_5  = context.get('isPm2_5') || 0;\nvar isPm10   = context.get('isPm10')  || 0;\nvar out = {};\n\nif((msg.topic === \"MKR1000/HPMA115S0/PM2.5\") && (isPm2_5 === 0)){\n    isPm2_5 = msg.payload;\n    context.set('isPm2_5',isPm2_5);\n}\n\nif((msg.topic === \"MKR1000/HPMA115S0/PM10\") && (isPm10 === 0)){\n    isPm10 = msg.payload;\n    context.set('isPm10',isPm10);\n}\n\nif((isPm2_5!==0) && (isPm10!==0)){\n    var date = new Date();\n    // date\n    var year  = date.getFullYear();\n    var month = date.getMonth()+1;\n    var day   = date.getDate();\n    // hour\n    var hour    = date.getHours();\n    var minutes = date.getMinutes();\n    var seconds = date.getSeconds();\n    // correct \n    month = month > 12 ? 1 : month;                 // correct month\n    switch(month){\n        case 1:\n        case 3:\n        case 5:\n        case 7:\n        case 8:\n        case 10:\n        case 12:\n            day = day > 31 ? 1 : day;               // correct day\n            break;\n        default:\n            day = day > 30 ? 1 : day;               // correct day\n            break;\n    }\n    // format \n    month   = month < 10 ? '0'+month : ''+month;\n    day     = day < 10 ? '0'+day : ''+day;\n    hour    = hour < 10 ? '0'+hour : ''+hour;\n    minutes = minutes < 10 ? '0'+minutes : ''+minutes;\n    seconds = seconds < 10 ? '0'+seconds : ''+seconds;\n    out.payload = {\n        \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n        \"pm2_5\"  : isPm2_5,\n        \"pm10\"   : isPm10,\n    };\n    // clean vars\n    context.set('isPm2_5',0);\n    context.set('isPm10',0);\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["9bed0dd8.9af73"]]},{"id":"9bed0dd8.9af73","type":"csv","z":"72483697.98b0a8","name":"PM","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,pm2_5,pm10","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":650,"y":300,"wires":[["60acd1db.52805"]]},{"id":"60acd1db.52805","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/pm.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":880,"y":300,"wires":[[]]},{"id":"d72a9544.f5a278","type":"function","z":"72483697.98b0a8","name":"","func":"var isBmeRaw = context.get('isBmeRaw') || 0;\nvar isBmeT   = context.get('isBmeT')   || 0;\nvar isDsRaw  = context.get('isDsRaw')  || 0;\nvar out = {};\n\nif((msg.topic === \"MKR1000/BME680/Temp\") && (isBmeT === 0)){\n    isBmeT = msg.payload;\n    context.set('isBmeT',isBmeT);\n}\n\nif((msg.topic === \"MKR1000/DS18B20/rawTemp\") && (isDsRaw === 0)){\n    isDsRaw = msg.payload;\n    context.set('isDsRaw',isDsRaw);\n}\n\nif((msg.topic === \"MKR1000/BME680/rawTemp\") && (isBmeRaw === 0)){\n    isBmeRaw = msg.payload;\n    context.set('isBmeRaw',isBmeRaw);\n}\n\nif((isBmeT!==0) && (isDsRaw!==0) && (isBmeRaw!==0)){\n    var date = new Date();\n    // date\n    var year  = date.getFullYear();\n    var month = date.getMonth()+1;\n    var day   = date.getDate();\n    // hour\n    var hour    = date.getHours();\n    var minutes = date.getMinutes();\n    var seconds = date.getSeconds();\n    // correct\n    month = month > 12 ? 1 : month;                 // correct month\n    switch(month){\n        case 1:\n        case 3:\n        case 5:\n        case 7:\n        case 8:\n        case 10:\n        case 12:\n            day = day > 31 ? 1 : day;               // correct day\n            break;\n        default:\n            day = day > 30 ? 1 : day;               // correct day\n            break;\n    }\n    // format \n    month   = month < 10 ? '0'+month : ''+month;\n    day     = day < 10 ? '0'+day : ''+day;\n    hour    = hour < 10 ? '0'+hour : ''+hour;\n    minutes = minutes < 10 ? '0'+minutes : ''+minutes;\n    seconds = seconds < 10 ? '0'+seconds : ''+seconds;\n    out.payload = {\n        \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n        \"bmeRaw\"    : isBmeRaw,\n        \"bmeTemp\"   : isBmeT,\n        \"dsRaw\"     : isDsRaw\n    };\n    // clean vars\n    context.set('isBmeT',0);\n    context.set('isDsRaw',0);\n    context.set('isBmeRaw',0);\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":640,"wires":[["eea0841c.f72608"]]},{"id":"eea0841c.f72608","type":"csv","z":"72483697.98b0a8","name":"Temperature","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,bmeRaw,bmeTemp,dsRaw","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":640,"wires":[["9a2fb147.b14a1"]]},{"id":"9a2fb147.b14a1","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/temperature.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":930,"y":640,"wires":[[]]},{"id":"e8d28a2.32c2278","type":"function","z":"72483697.98b0a8","name":"","func":"var isCO2  = context.get('isCO2')  || 0;\nvar iseCO2 = context.get('iseCO2') || 0;\nvar out = {};\n\nif((msg.topic === \"MKR1000/T6615/CO2\") && (isCO2 === 0)){\n    isCO2 = msg.payload;\n    context.set('isCO2',isCO2);\n}\n\nif((msg.topic === \"MKR1000/BME680/eCO2\") && (iseCO2 === 0)){\n    iseCO2 = msg.payload;\n    context.set('iseCO2',iseCO2);\n}\n\nif((isCO2!==0) && (iseCO2!==0)){\n    var date = new Date();\n    // date\n    var year  = date.getFullYear();\n    var month = date.getMonth()+1;\n    var day   = date.getDate();\n    // hour\n    var hour    = date.getHours();\n    var minutes = date.getMinutes();\n    var seconds = date.getSeconds();\n    // correct \n    month = month > 12 ? 1 : month;                 // correct month\n    switch(month){\n        case 1:\n        case 3:\n        case 5:\n        case 7:\n        case 8:\n        case 10:\n        case 12:\n            day = day > 31 ? 1 : day;               // correct day\n            break;\n        default:\n            day = day > 30 ? 1 : day;               // correct day\n            break;\n    }\n    // format \n    month   = month < 10 ? '0'+month : ''+month;\n    day     = day < 10 ? '0'+day : ''+day;\n    hour    = hour < 10 ? '0'+hour : ''+hour;\n    minutes = minutes < 10 ? '0'+minutes : ''+minutes;\n    seconds = seconds < 10 ? '0'+seconds : ''+seconds;\n    out.payload = {\n        \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n        \"CO2\"  : isCO2,\n        \"eCO2\" : iseCO2,\n    };\n    // clean vars\n    context.set('isCO2',0);\n    context.set('iseCO2',0);\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":480,"wires":[["7a73fec6.75c8f"]]},{"id":"7a73fec6.75c8f","type":"csv","z":"72483697.98b0a8","name":"CO2","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,CO2,eCO2","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1370,"y":480,"wires":[["dad76b5c.783748"]]},{"id":"dad76b5c.783748","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/co2.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1580,"y":480,"wires":[[]]},{"id":"d7ea0eee.c5ac1","type":"function","z":"72483697.98b0a8","name":"","func":"var isIAQ  = context.get('isIAQ')   || 0;\nvar issIAQ = context.get('issIAQ')  || 0;\nvar out = {};\n\nif((msg.topic === \"MKR1000/BME680/IAQ\") && (isIAQ === 0)){\n    isIAQ = msg.payload;\n    context.set('isIAQ',isIAQ);\n}\n\nif((msg.topic === \"MKR1000/BME680/sIAQ\") && (issIAQ === 0)){\n    issIAQ = msg.payload;\n    context.set('issIAQ',issIAQ);\n}\n\nif((isIAQ!==0) && (issIAQ!==0)){\n    var date = new Date();\n    // date\n    var year  = date.getFullYear();\n    var month = date.getMonth()+1;\n    var day   = date.getDate();\n    // hour\n    var hour    = date.getHours();\n    var minutes = date.getMinutes();\n    var seconds = date.getSeconds();\n    // correct \n    month = month > 12 ? 1 : month;                 // correct month\n    switch(month){\n        case 1:\n        case 3:\n        case 5:\n        case 7:\n        case 8:\n        case 10:\n        case 12:\n            day = day > 31 ? 1 : day;               // correct day\n            break;\n        default:\n            day = day > 30 ? 1 : day;               // correct day\n            break;\n    }\n    // format \n    month   = month < 10 ? '0'+month : ''+month;\n    day     = day < 10 ? '0'+day : ''+day;\n    hour    = hour < 10 ? '0'+hour : ''+hour;\n    minutes = minutes < 10 ? '0'+minutes : ''+minutes;\n    seconds = seconds < 10 ? '0'+seconds : ''+seconds;\n    out.payload = {\n        \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n        \"IAQ\"  : isIAQ,\n        \"sIAQ\" : issIAQ,\n    };\n    // clean vars\n    context.set('isIAQ',0);\n    context.set('issIAQ',0);\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":720,"wires":[["7ad428f0.57c3b8"]]},{"id":"7ad428f0.57c3b8","type":"csv","z":"72483697.98b0a8","name":"IAQ","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,IAQ,sIAQ","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1350,"y":720,"wires":[["9345549.0b173a8"]]},{"id":"9345549.0b173a8","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/iaq.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1560,"y":720,"wires":[[]]},{"id":"a7c935a8.ab1ab8","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nvar date = new Date();\n// date\nvar year = date.getFullYear();\nvar month = date.getMonth()+1;\nvar day = date.getDate();\n// hour\nvar hour = date.getHours();\nvar minutes = date.getMinutes();\nvar seconds = date.getSeconds();\n// correct\nmonth = month > 12 ? 1 : month;                 // correct month\nswitch(month){\n    case 1:\n    case 3:\n    case 5:\n    case 7:\n    case 8:\n    case 10:\n    case 12:\n        day = day > 31 ? 1 : day;               // correct day\n        break;\n    default:\n        day = day > 30 ? 1 : day;               // correct day\n        break;\n}\n// format \nmonth = month < 10 ? '0'+month : ''+month;\nday = day < 10 ? '0'+day : ''+day;\nhour = hour < 10 ? '0'+hour : ''+hour;\nminutes = minutes < 10 ? '0'+minutes : ''+minutes;\nseconds = seconds < 10 ? '0'+seconds : ''+seconds;\nout.payload = {\n    \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n    \"value\"     : msg.payload};\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":920,"wires":[["d09ee8fc.f71fa8"]]},{"id":"d09ee8fc.f71fa8","type":"csv","z":"72483697.98b0a8","name":"CO","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1350,"y":920,"wires":[["ae02e7b2.fc0008"]]},{"id":"ae02e7b2.fc0008","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/co.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1560,"y":920,"wires":[[]]},{"id":"77efb813.6f20b8","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nvar date = new Date();\n// date\nvar year = date.getFullYear();\nvar month = date.getMonth()+1;\nvar day = date.getDate();\n// hour\nvar hour = date.getHours();\nvar minutes = date.getMinutes();\nvar seconds = date.getSeconds();\n// correct \nmonth = month > 12 ? 1 : month;                 // correct month\nswitch(month){\n    case 1:\n    case 3:\n    case 5:\n    case 7:\n    case 8:\n    case 10:\n    case 12:\n        day = day > 31 ? 1 : day;               // correct day\n        break;\n    default:\n        day = day > 30 ? 1 : day;               // correct day\n        break;\n}\n// format \nmonth = month < 10 ? '0'+month : ''+month;\nday = day < 10 ? '0'+day : ''+day;\nhour = hour < 10 ? '0'+hour : ''+hour;\nminutes = minutes < 10 ? '0'+minutes : ''+minutes;\nseconds = seconds < 10 ? '0'+seconds : ''+seconds;\nout.payload = {\n    \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n    \"value\"     : msg.payload};\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1280,"wires":[["38c31fc3.2395f"]]},{"id":"38c31fc3.2395f","type":"csv","z":"72483697.98b0a8","name":"Pressure","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":460,"y":1280,"wires":[["d6295532.358198"]]},{"id":"d6295532.358198","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/pressure.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":680,"y":1280,"wires":[[]]},{"id":"841d42d6.6ae18","type":"function","z":"72483697.98b0a8","name":"","func":"var isBmeRaw  = context.get('isBmeRaw') || 0;\nvar isBmeH    = context.get('isBmeH')   || 0;\nvar out = {};\n\nif((msg.topic === \"MKR1000/BME680/Humi\") && (isBmeH === 0)){\n    isBmeH = msg.payload;\n    context.set('isBmeH',isBmeH);\n}\n\nif((msg.topic === \"MKR1000/BME680/rawHumi\") && (isBmeRaw === 0)){\n    isBmeRaw = msg.payload;\n    context.set('isBmeRaw',isBmeRaw);\n}\n\nif((isBmeH!==0) && (isBmeRaw!==0)){\n    var date = new Date();\n    // date\n    var year  = date.getFullYear();\n    var month = date.getMonth()+1;\n    var day   = date.getDate();\n    // hour\n    var hour    = date.getHours();\n    var minutes = date.getMinutes();\n    var seconds = date.getSeconds();\n    // correct\n    month = month > 12 ? 1 : month;                 // correct month\n    switch(month){\n        case 1:\n        case 3:\n        case 5:\n        case 7:\n        case 8:\n        case 10:\n        case 12:\n            day = day > 31 ? 1 : day;               // correct day\n            break;\n        default:\n            day = day > 30 ? 1 : day;               // correct day\n            break;\n    }\n    // format \n    month   = month < 10 ? '0'+month : ''+month;\n    day     = day < 10 ? '0'+day : ''+day;\n    hour    = hour < 10 ? '0'+hour : ''+hour;\n    minutes = minutes < 10 ? '0'+minutes : ''+minutes;\n    seconds = seconds < 10 ? '0'+seconds : ''+seconds;\n    out.payload = {\n        \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n        \"raw\"    : isBmeRaw,\n        \"humi\"   : isBmeH,\n    };\n    // clean vars\n    context.set('isBmeH',0);\n    context.set('isBmeRaw',0);\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1000,"wires":[["814fcba7.769b28"]]},{"id":"814fcba7.769b28","type":"csv","z":"72483697.98b0a8","name":"Humidity","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,raw,humi","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":560,"y":1000,"wires":[["c4a8613.23d14a"]]},{"id":"c4a8613.23d14a","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/humidity.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":780,"y":1000,"wires":[[]]},{"id":"d8804238.121f8","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/rawTemp","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":180,"y":860,"wires":[["53f70c8a.c748c4","d72a9544.f5a278"]]},{"id":"53f70c8a.c748c4","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'bme680-raw';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":860,"wires":[["a298c90d.cedec8"]]},{"id":"802b0ac6.03ab28","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/rawHumi","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":160,"y":1160,"wires":[["7a68835e.2101fc","841d42d6.6ae18"]]},{"id":"7a68835e.2101fc","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'rawHumidity';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1160,"wires":[["794b2f21.dabcc"]]},{"id":"8b53d587.3269c8","type":"ui_button","z":"72483697.98b0a8","name":"","group":"eb44d63e.14e8e8","order":3,"width":0,"height":0,"passthru":false,"label":"Get IP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sendIp","payloadType":"str","topic":"","x":1010,"y":1280,"wires":[["ae8355c.ffd54a8","6edb994a.e45918"]]},{"id":"dc80a430.a42688","type":"ui_text","z":"72483697.98b0a8","group":"eb44d63e.14e8e8","order":4,"width":0,"height":0,"name":"","label":"DEV# IP: ","format":"{{msg.payload}}","layout":"row-center","x":1320,"y":1340,"wires":[]},{"id":"90e3998e.d0a428","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/status/IP","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1050,"y":1340,"wires":[["dc80a430.a42688"]]},{"id":"ae8355c.ffd54a8","type":"mqtt out","z":"72483697.98b0a8","name":"","topic":"MKR1000/updates","qos":"1","retain":"","broker":"b1823f57.49346","x":1230,"y":1280,"wires":[]},{"id":"188c02ea.aee67d","type":"ui_button","z":"72483697.98b0a8","name":"","group":"eb44d63e.14e8e8","order":5,"width":0,"height":0,"passthru":false,"label":"Get BME680 Accuracy","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sendBme680Accuracy","payloadType":"str","topic":"","x":1060,"y":1460,"wires":[["93e7c09e.a3c22"]]},{"id":"87cbe789.70c848","type":"ui_text","z":"72483697.98b0a8","group":"eb44d63e.14e8e8","order":6,"width":0,"height":0,"name":"","label":"Accuracy: ","format":"{{msg.payload}}","layout":"row-center","x":1320,"y":1520,"wires":[]},{"id":"5b379d89.853734","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/Accuracy","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1080,"y":1520,"wires":[["87cbe789.70c848"]]},{"id":"93e7c09e.a3c22","type":"mqtt out","z":"72483697.98b0a8","name":"","topic":"MKR1000/updates","qos":"1","retain":"","broker":"b1823f57.49346","x":1310,"y":1460,"wires":[]},{"id":"794b2f21.dabcc","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"9dfdcddb.8eb58","order":2,"width":0,"height":0,"label":"Humidity Sensor (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":1100,"wires":[[]]},{"id":"82a0acc5.55685","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/HeartBeat","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":150,"y":140,"wires":[["35d11f6.dd1c6e"]]},{"id":"35d11f6.dd1c6e","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nvar date = new Date();\n// date\nvar year = date.getFullYear();\nvar month = date.getMonth()+1;\nvar day = date.getDate();\n// hour\nvar hour = date.getHours();\nvar minutes = date.getMinutes();\nvar seconds = date.getSeconds();\n// correct\nmonth = month > 12 ? 1 : month;                 // correct month\nswitch(month){\n    case 1:\n    case 3:\n    case 5:\n    case 7:\n    case 8:\n    case 10:\n    case 12:\n        day = day > 31 ? 1 : day;               // correct day\n        break;\n    default:\n        day = day > 30 ? 1 : day;               // correct day\n        break;\n}\n// format \nmonth = month < 10 ? '0'+month : ''+month;\nday = day < 10 ? '0'+day : ''+day;\nhour = hour < 10 ? '0'+hour : ''+hour;\nminutes = minutes < 10 ? '0'+minutes : ''+minutes;\nseconds = seconds < 10 ? '0'+seconds : ''+seconds;\nout.payload = {\n    \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n    \"value\"     : msg.payload};\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":140,"wires":[["be43d168.d4138"]]},{"id":"ba6c5477.68e718","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/heartBeat.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":840,"y":140,"wires":[[]]},{"id":"be43d168.d4138","type":"csv","z":"72483697.98b0a8","name":"HeartBeat","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":600,"y":140,"wires":[["ba6c5477.68e718"]]},{"id":"3b9b7378.b0492c","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/DS18B20/rawTemp","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":180,"y":940,"wires":[["83860620.e4fdf8","d72a9544.f5a278"]]},{"id":"83860620.e4fdf8","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'ds18b20-raw';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":940,"wires":[["a298c90d.cedec8"]]},{"id":"4927fae4.4db014","type":"exec","z":"72483697.98b0a8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1430,"y":1800,"wires":[["2b6e3ccd.2e0044"],[],[]]},{"id":"37f697a6.7d7938","type":"ui_text_input","z":"72483697.98b0a8","name":"","label":"","tooltip":"","group":"eb44d63e.14e8e8","order":9,"width":0,"height":0,"passthru":false,"mode":"time","delay":"0","topic":"","x":1100,"y":1620,"wires":[["60161410.22d5bc"]],"icon":"font-awesome/fa-clock-o"},{"id":"5659c5a4.97203c","type":"ui_date_picker","z":"72483697.98b0a8","name":"","label":"","group":"eb44d63e.14e8e8","order":8,"width":0,"height":0,"passthru":false,"topic":"","x":1110,"y":1660,"wires":[["1b54deeb.ed2461"]]},{"id":"3b877771.912488","type":"ui_button","z":"72483697.98b0a8","name":"","group":"eb44d63e.14e8e8","order":7,"width":0,"height":0,"passthru":false,"label":"Update Timestamp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1130,"y":1720,"wires":[["eccd30f7.08bee"]]},{"id":"60161410.22d5bc","type":"function","z":"72483697.98b0a8","name":"","func":"global.set('time_value',msg.payload); // to store a variable","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1620,"wires":[[]]},{"id":"1b54deeb.ed2461","type":"function","z":"72483697.98b0a8","name":"","func":"global.set('date_value',msg.payload); // to store a variable","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1660,"wires":[[]]},{"id":"eccd30f7.08bee","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {}\n\nvar time_value = global.get('time_value') || 0; //to retrieve a variable  \nvar date_value = global.get('date_value') || 0; //to retrieve a variable  \n\nvar d       = new Date(date_value);\nvar day     = d.getDate()+1;\nvar month   = d.getMonth()+1;\nvar year    = d.getFullYear();\n\nswitch(month){\n    case 1:\n    case 3:\n    case 5:\n    case 7:\n    case 8:\n    case 10:\n    case 12:\n        if(day > 31){\n            day = 1;\n            month ++;\n        }\n        break;\n    case 2:\n        // leap year\n        if(((year%4==0)&&(year%100!=0)) || (year%400==0)){\n            if(day > 29){\n                day = 1;\n                month ++;\n            }\n        }else{\n            if(day > 28){\n                day = 1;\n                month ++;\n            }\n        }\n        break;\n    default:\n        if(day > 30){\n            day = 1;\n            month ++;\n        }\n        break;\n}\n\nif(month > 12){\n    month = 1;\n    year ++;\n}\n\nvar t       = new Date(time_value);\nvar hour    = t.getHours();\nvar minutes  = t.getMinutes();\nvar seconds = 0;\n\n// format\nmonth   = month   < 10 ? '0' + month   : '' + month;\nday     = day     < 10 ? '0' + day     : '' + day;\nhour    = hour    < 10 ? '0' + hour    : '' + hour;\nminutes = minutes < 10 ? '0' + minutes : '' + minutes;\nseconds = seconds < 10 ? '0' + seconds : '' + seconds;\n\n\nout.payload=\"/home/pi/changedate.sh \\\"\" + year + \"-\" + \n    month + \"-\" + day + \" \" + hour + \":\" + \n    minutes + \":\" + seconds + \"\\\"\";\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1720,"wires":[["4927fae4.4db014"]]},{"id":"2b6e3ccd.2e0044","type":"function","z":"72483697.98b0a8","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":1620,"wires":[["d705df3c.45d18","52a3fa32.33fab4","8e3478ef.a7a158","794b2f21.dabcc","a298c90d.cedec8","bed6aa2d.59ee88","572375a7.b1920c","f5bcc446.901e98","753dabaf.cf58c4","642dda2d.430504","190c074b.d666c9","57a5a30.b508a5c","81dd373b.d4eb88","b5018575.3c0e58","ab0d14c9.ec7f78","283d9913.64dfb6","e5d41764.d32b08"]]},{"id":"642dda2d.430504","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/heartBeat.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1780,"y":1700,"wires":[[]]},{"id":"190c074b.d666c9","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/temperature.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1790,"y":1820,"wires":[[]]},{"id":"57a5a30.b508a5c","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/humidity.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1780,"y":1880,"wires":[[]]},{"id":"81dd373b.d4eb88","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/pressure.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1780,"y":1940,"wires":[[]]},{"id":"572375a7.b1920c","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/co2.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2150,"y":1700,"wires":[[]]},{"id":"f5bcc446.901e98","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/iaq.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2140,"y":1760,"wires":[[]]},{"id":"753dabaf.cf58c4","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/co.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2140,"y":1820,"wires":[[]]},{"id":"b5018575.3c0e58","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/pm.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1760,"y":1760,"wires":[[]]},{"id":"84d81f33.071b","type":"ui_button","z":"72483697.98b0a8","name":"","group":"eb44d63e.14e8e8","order":1,"width":0,"height":0,"passthru":false,"label":"Shutdown RPi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":1600,"wires":[["f3d40f35.86a2a"]]},{"id":"f3d40f35.86a2a","type":"exec","z":"72483697.98b0a8","command":"/home/pi/poweroff.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":1600,"wires":[[],[],[]]},{"id":"8c114815.b7dab8","type":"ui_button","z":"72483697.98b0a8","name":"","group":"eb44d63e.14e8e8","order":2,"width":0,"height":0,"passthru":false,"label":"Set BME680 Params","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[115,101,116,66,109,101,54,56,48,80,97,114,97,109,115,0,8,4,1,61,0,0,0,0,0,0,0,115,0,0,0,45,0,1,0,192,179,230,64,148,189,230,64,143,155,225,64,132,155,225,64,0,0,0,0,44,1,21,21,0,0,64,64,0,0,64,64,0,0,3,0,23,168,95,63,20,12,0,2,0,76,86,7,66,152,6,1,66,16,0,3,0,40,112,204,64,134,133,156,65,168,9,145,66,22,0,5,0,192,91,143,72,72,0,0,0,0,0,0,0,106,200,140,82,1,1,12,0,9,0,192,91,143,72,72,0,0,0,8,0,10,0,66,82,157,65,0,0,0,0,187,115,0,0]","payloadType":"bin","topic":"","x":260,"y":1700,"wires":[["9dc4c420.bc6808"]]},{"id":"9dc4c420.bc6808","type":"mqtt out","z":"72483697.98b0a8","name":"","topic":"MKR1000/updates","qos":"1","retain":"","broker":"b1823f57.49346","x":530,"y":1700,"wires":[]},{"id":"6a8475a3.7b72ec","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/sIAQ","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1090,"y":840,"wires":[["d23cea11.ab7de8","d7ea0eee.c5ac1"]]},{"id":"d23cea11.ab7de8","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'sIAQ';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":860,"wires":[["52a3fa32.33fab4"]]},{"id":"70d34822.c5ee18","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/eCO2","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1090,"y":600,"wires":[["49bf1c77.cf3e54","e8d28a2.32c2278"]]},{"id":"49bf1c77.cf3e54","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'eCO2';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":620,"wires":[["8e3478ef.a7a158"]]},{"id":"a798465b.8247f8","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"MKR1000/BME680/eVOCb","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1070,"y":1120,"wires":[["433e682c.656238","b62a7b7c.306398","17513c7c.c2af24"]]},{"id":"433e682c.656238","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nvar date = new Date();\n// date\nvar year = date.getFullYear();\nvar month = date.getMonth()+1;\nvar day = date.getDate();\n// hour\nvar hour = date.getHours();\nvar minutes = date.getMinutes();\nvar seconds = date.getSeconds();\n// correct\nmonth = month > 12 ? 1 : month;                 // correct month\nswitch(month){\n    case 1:\n    case 3:\n    case 5:\n    case 7:\n    case 8:\n    case 10:\n    case 12:\n        day = day > 31 ? 1 : day;               // correct day\n        break;\n    default:\n        day = day > 30 ? 1 : day;               // correct day\n        break;\n}\n// format \nmonth = month < 10 ? '0'+month : ''+month;\nday = day < 10 ? '0'+day : ''+day;\nhour = hour < 10 ? '0'+hour : ''+hour;\nminutes = minutes < 10 ? '0'+minutes : ''+minutes;\nseconds = seconds < 10 ? '0'+seconds : ''+seconds;\nout.payload = {\n    \"timestamp\" : ''+year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds,\n    \"value\"     : msg.payload};\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":1080,"wires":[["974f6bff.0fc528"]]},{"id":"974f6bff.0fc528","type":"csv","z":"72483697.98b0a8","name":"eVOCb","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1420,"y":1080,"wires":[["9c965242.5b1e1"]]},{"id":"9c965242.5b1e1","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/evocb.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1650,"y":1080,"wires":[[]]},{"id":"b62a7b7c.306398","type":"ui_gauge","z":"72483697.98b0a8","name":"","group":"2903eab7.1535c6","order":1,"width":0,"height":0,"gtype":"gage","title":"eVOCb","label":"PPM","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1440,"y":1120,"wires":[]},{"id":"17513c7c.c2af24","type":"function","z":"72483697.98b0a8","name":"","func":"var out = {};\nout.topic = 'eVOCb';\nout.payload = parseFloat(msg.payload);\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":1160,"wires":[["283d9913.64dfb6"]]},{"id":"283d9913.64dfb6","type":"ui_chart","z":"72483697.98b0a8","name":"","group":"f4167d07.0ec25","order":4,"width":0,"height":0,"label":"eVOCb (PPM)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1480,"y":1160,"wires":[[]]},{"id":"e5d41764.d32b08","type":"file","z":"72483697.98b0a8","name":"","filename":"/home/pi/sensor_log/evocb.csv","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2150,"y":1880,"wires":[[]]},{"id":"6edb994a.e45918","type":"mqtt out","z":"72483697.98b0a8","name":"","topic":"ESP-01/updates","qos":"1","retain":"","broker":"b1823f57.49346","x":1220,"y":1220,"wires":[]},{"id":"59d7eddb.84af04","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"ESP-01/status/IP","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1040,"y":1380,"wires":[["dc80a430.a42688"]]},{"id":"4befac2e.cdc5d4","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"ESP-01/BME680/Temp","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":160,"y":660,"wires":[["18f05b62.b0c6b5"]]},{"id":"3e2f5c1e.5845e4","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"ESP-01/BME680/Humi","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":140,"y":1000,"wires":[["c22bbf19.98628"]]},{"id":"64fc7623.147d78","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"ESP-01/BME680/Pres","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":140,"y":1400,"wires":[["1a267b50.1e1e85"]]},{"id":"5ba09c03.8b95f4","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"ESP-01/BME680/Res","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":980,"y":740,"wires":[["c40d08fa.057228"]]},{"id":"299db220.9dbb9e","type":"mqtt in","z":"72483697.98b0a8","name":"","topic":"ESP-01/#","qos":"2","datatype":"auto","broker":"b1823f57.49346","x":1240,"y":200,"wires":[["43f38231.17c9dc"]]},{"id":"43f38231.17c9dc","type":"debug","z":"72483697.98b0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1520,"y":220,"wires":[]},{"id":"b1823f57.49346","type":"mqtt-broker","z":"","name":"Internal Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4167d07.0ec25","type":"ui_group","z":"","name":"Group 2","tab":"33fbe23e.e6175e","order":2,"disp":false,"width":10,"collapse":false},{"id":"2b6edb39.d9b6b4","type":"ui_group","z":"","name":"Group 1","tab":"25587303.8f592c","order":1,"disp":false,"width":"4","collapse":false},{"id":"a9df7846.89be88","type":"ui_group","z":"","name":"Group 2","tab":"25587303.8f592c","order":2,"disp":false,"width":"4","collapse":false},{"id":"2903eab7.1535c6","type":"ui_group","z":"","name":"Group 3","tab":"25587303.8f592c","order":3,"disp":false,"width":"4","collapse":false},{"id":"9dfdcddb.8eb58","type":"ui_group","z":"","name":"Group 1","tab":"33fbe23e.e6175e","order":1,"disp":false,"width":10,"collapse":false},{"id":"eb44d63e.14e8e8","type":"ui_group","z":"","name":"Group 1","tab":"f9cc2b96.1ce7a8","order":1,"disp":false,"width":"10","collapse":false},{"id":"33fbe23e.e6175e","type":"ui_tab","z":"","name":"Graphical Readings","icon":"dashboard","disabled":false,"hidden":false},{"id":"25587303.8f592c","type":"ui_tab","z":"","name":"Gauge Readings","icon":"dashboard","disabled":false,"hidden":false},{"id":"f9cc2b96.1ce7a8","type":"ui_tab","z":"","name":"Actions","icon":"dashboard","order":3,"disabled":false,"hidden":false}]